# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
pip-wheel-metadata/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.coverage*
.pyre/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db


# Logs and temp
*.log
*.tmp


